 <!-- BEGIN FOOTER -->
 <p class="copyright-v2"> 2016 &copy; Metronic Theme By
  <a target="_blank" href="http://keenthemes.com">Keenthemes</a> &nbsp;|&nbsp;
  <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
</p>
<!-- BEGIN QUICK SIDEBAR TOGGLER -->
<button type="button" class="quick-sidebar-toggler" data-toggle="collapse">
  <span class="sr-only">Toggle Quick Sidebar</span>
  <i class="icon-logout"></i>
  <div class="quick-sidebar-notification">
      <span class="badge badge-danger">7</span>
  </div>
</button>
<!-- END QUICK SIDEBAR TOGGLER -->
<a href="#index" class="go2top">
  <i class="icon-arrow-up"></i>
</a>
<!-- END FOOTER -->